
.score_counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.scoreboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    font-family: 'Quicksand', sans-serif;
    
}

.scoreboard__name,
.scoreboard__score {
    color: aqua;
        font-size: larger;
    padding: 10px;
    text-align: center;
}

.scoreboard__name {
    font-weight: bold;
 
}



.scoreboard__score {
    font-size: 3em;
}